#terminal-input {
	z-index: -10;
	position:relative;
}

.typed-out-container {
	display: inline-block;
}

.typed-out-container-auto {

}

.not-typed-out {
	overflow: hidden;
	width: 0;
	border: none;
}

.not-typed-out li::marker {
	content: "";
}

.being-typed-out {
	overflow: hidden;
	border-right: .15em solid #ff006e;
	width: 0;
	white-space: nowrap;
}

.being-typed-out-few {
	animation:
		typing .05s steps(10, end) forwards,
      		blink .8s infinite;
	animation-delay:0s, .1s;
}

.being-typed-out-avg {
	animation:
		typing .075s steps(20, end) forwards,
      		blink .8s infinite;
	animation-delay:0s, .15s;
}

.being-typed-out-lot {
	animation:
		typing .1s steps(30, end) forwards,
      		blink .8s infinite;
	animation-delay:0s, .2s;
}

.being-typed-out-img {
	animation:
		typing-img .01s steps(20, end) forwards,
      		blink .8s infinite;
	animation-delay:0s, .25s;
}

.being-typed-out-li {
	animation:
		typing-img .01s steps(10, end) forwards,
      		blink .8s infinite;
	animation-delay:0s, .01s;
}

.typed-out {

}

.typed-out li::marker {
	content: normal;
}

.blink {
border-right: .15em solid #ff006e;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typing-img {
  from { width: 0 }
  to { width: initial }
}

@keyframes typing-img {
  from { height: 24px }
  to { height: 24px }
}

@keyframes blink {
  from { border-color: transparent; }
  to { border-color: #ff006e; }
}

.terminal-background {
	background-color: black;
	background-image: radial-gradient(
    		rgba(255, 00, 110, 0.5), black 120%
	);
	background-size: 110% 110%; /* Increase the size of the gradient */
	position:fixed;
	top:3dvh;
	left:2dvw;
	width: 96dvw;
	height:92dvh;
	z-index: -1;
}

.terminal-border {
	animation-duration: 2s, 4s;
	animation-name: build-terminal, rgb-border;
	animation-delay: 0s, 2s;
	animation-iteration-count: 1, infinite;
	position: fixed;
	top: 3dvh;
	left: 2dvw;
	width: 96dvw;
	height: 92dvh;
	padding: 0px;
	z-index: 3;
	pointer-events: none;
	margin: 0px;
}

#open-terminal-border {
	animation-duration: 4s;
	animation-name: rgb-border;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

#terminal-overlay-top {
	animation: reveal-terminal-top;
	animation-duration: 2s;

	position: fixed;
	bottom: 97dvh;
	left: 2dvw;
	width: 96dvw;
	height: 100dvh;
	padding: 0px;

	background-color: black;
	z-index: 2;
}

@keyframes reveal-terminal-top {
	from {
		bottom: calc(50dvh - 1px - 0.5em);
	}

	50% {
		bottom: calc(50dvh - 1px - 0.5em);
	}

	to {
		bottom: 96dvh;
	}
}

#terminal-overlay-bot {
	animation: reveal-terminal-bot;
	animation-duration: 2s;

	position: fixed;
	top: 95dvh;
	left: 2dvw;
	width: 96dvw;
	height: 100dvh;
	padding: 0px;

	background-color: black;
	z-index: 2;
}

@keyframes reveal-terminal-bot {
	from {
		top: calc(50dvh - 1px - 0.5em);
	}

	50% {
		top: calc(50dvh - 1px - 0.5em);
	}

	to {
		top: 96dvh;
	}
}

@keyframes build-terminal {
	from {
		left: 50dvw;
		width: 1px;
		height: 0px;
		top: calc(50dvh - 1px - 0.5em);
	}

	50% {
		left: 2dvw;
		width: 96dvw;
		height: 0px;

		top: calc(50dvh - 1px - 0.5em);
	}
	to {
		height: 92dvh;
	}
}

@keyframes rgb-border {
	from {
		border-color: #ff006e;
	}

	10% {
		border-color: white;
	}

	20% {
		border-color: lime;
	}

	30% {
		border-color: cyan;
	}

	40% {
		border-color: yellow;
	}

	50% {
		border-color: purple;
	}

	60% {
		border-color: orange
	}

	70% {
		border-color: green;
	}

	80% {
		border-color: blue;
	}

	90% {
		border-color: gray;
	}

	to {
		border-color: #ff006e;
	}
}

#verytop {
margin-top: -50px;
}
