body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#d9d9d9;
	background:black;
	padding:0 10px;
	font-family: Open Sans,Arial;
}

h1,h2,h3 {
	line-height:1.2
}

a {
	color: #00a2e7;
}

hr {
	border: 1px solid #ff006e;
}
